{% extends "base.html" %}
{% block title %}Low cost{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
  <div class="container">
    
    <div class="row justify-content-around">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/gaming/i5medium.jpeg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">1145€</h5>
              <p class="card-text">i5 12gen, 12Gb RTX 3060, 16Gb RAM and 1T hard drive</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/gaming/ryzen5medium.jpeg" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">1118€</h5>
              <p class="card-text">Ryzen 5, 8Gb RX 6600, 16Gb RAM and 1T hard drive</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc3</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc4</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc5</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc6</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>
                                       

      </div>
    </div>

  </div>
{% endblock %}