<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset='utf-8'>
    <meta name='viewport' content = 'width=devicewidth, initial-scale=1.0'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">

    <!-- Css de acordeon menú -->
    <link href="/(directory)/accordion-menu.css" rel="stylesheet" type="text/css" />
    <script src="/(directory)/accordion-menu.js" type="text/javascript"></script>

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body class="bg-primary">

  <div class="bg-light bg-gradient">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient">
      <div class="container-fluid">

        <!-- logo para ir a inicio -->
        <div>
        <a class="navbar-brand" href="/"><img src="/static/img/webpc.png" class="card-img-top" width="100" height="100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/bitcoin" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Basic
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!--<li><a class="dropdown-item" href="/basic/mi_primer_pc">Mi primer PC</a></li>-->
                <li><a class="dropdown-item" href="/basic/low_cost">Low cost</a></li>
                <li><a class="dropdown-item" href="/basic/medium">Medium</a></li>
                <li><a class="dropdown-item" href="/basic/hight_performance">Hight performance</a></li>
                <!--<li><a class="dropdown-item" href="/basic/extreme">Extreme</a></li>-->
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/bitcoin" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gamer
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/gamer/low_cost">Low cost</a></li>
                <li><a class="dropdown-item" href="/gamer/medium">Medium</a></li>
                <li><a class="dropdown-item" href="/gamer/hight_performance">Hight performance</a></li>
                <li><a class="dropdown-item" href="/gamer/extreme">Extreme</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/bitcoin" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Work station-profesional
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/workstation/low_cost">Low cost</a></li>
                <li><a class="dropdown-item" href="/workstation/medium">Medium</a></li>
                <li><a class="dropdown-item" href="/workstation/hight_performance">Hight performance</a></li>
                <!--<li><a class="dropdown-item" href="/workstation/extreme">Extreme</a></li>-->
              </ul>
            </li>
<!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/bitcoin" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Componentes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/componentes/procesadores">Procesadores</a></li>
                <li><a class="dropdown-item" href="/componentes/rams">Rams</a></li>
                <li><a class="dropdown-item" href="/componentes/tarjeta_grafica">Tarjetas gráficas</a></li>
                <li><a class="dropdown-item" href="/componentes/disco_duro">Discos duros</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/bitcoin" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Complementos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/complementos/raton">Raton</a></li>
                <li><a class="dropdown-item" href="/complementos/teclado">Keyboards</a></li>
                <li><a class="dropdown-item" href="/complementos/cables">Cables</a></li>
                <li><a class="dropdown-item" href="/complementos/monitores">Monitores</a></li>
              </ul>
            </li>



            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
-->
            <li class="nav-item">
              <a class="nav-link justify-content-end" href="/contacto">Contacto</a>
            </li>
            
          </ul>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Carrito
        </button>
        <!--________________________Inicio ventana secundaria para carrito (javascript)_____________________________________-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl"><!--Digo el boton modal y el tamaño a large-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Su compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!--________________________Inicio carrito_____________________________________-->
                <section class="h-100 gradient-custom">
                  <div class="container py-5">
                    <div class="row d-flex justify-content-center my-4">
                      <div class="col-md-8">
                        <div class="card mb-4">
                          <div class="card-header py-3">
                            <h5 class="mb-0">Carrito beta con 2 ejemplos</h5>
                          </div>
                          <div class="card-body">
                            <!-- Single item -->
                            <div class="row">
                              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                  <img src="../static/img/basic/ryzen5medium.jpeg"
                                    class="w-100" alt="Blue Jeans Jacket" /><!--________Imagen producto________-->
                                  <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                  </a>
                                </div>
                                <!-- Image -->
                              </div>

                              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>Pc basic</strong></p>
                                <p>Ryzen: 5</p>
                                <p>Hz: 2.3</p>
                                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                  title="Remove item">
                                  <i class="fas fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                  title="Move to the wish list">
                                  <i class="fas fa-heart"></i>
                                </button>
                                <!-- Data -->
                              </div>

                              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">
                                  <button class="btn btn-primary px-3 me-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus">-</i>
                                  </button>

                                  <div class="form-outline">
                                    <input id="cantidad1" min="0" name="quantity" value="1" type="number" class="form-control" />
                                    <label class="form-label" for="form1">Cantidad</label>
                                  </div>

                                  <button class="btn btn-primary px-3 ms-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus">+</i>
                                  </button>
                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <p class="text-start text-md-center">
                                  <strong>Precio:</strong><span id="price1">17.99 $</span>
                                  <p>total: <span id="totalItem1"></span></p>
                                </p>
                                <!-- Price -->
                              </div>
                            </div>
                            <!-- Single item -->

                            <hr class="my-4" />

                            <!-- Single item -->
                            <div class="row">
                              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                  <img src="../static/img/basic/i5medium.jpeg"
                                    class="w-100" /> <!--________Imagen producto________-->
                                  <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                  </a>
                                </div>
                                <!-- Image -->
                              </div>

                              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>componente basic</strong></p>
                                <p>intel: 5</p>
                                <p>Hz: 3</p>

                                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                  title="Remove item">
                                  <i class="fas fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                  title="Move to the wish list">
                                  <i class="fas fa-heart"></i>
                                </button>
                                <!-- Data -->
                              </div>

                              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">
                                  <button class="btn btn-primary px-3 me-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus">-</i>
                                  </button>

                                  <div class="form-outline">
                                    <input id="cantidad2"  min="0" name="quantity" value="1" type="number" class="form-control" />
                                    <label class="form-label" for="form1">Cantidad</label>
                                  </div>

                                  <button class="btn btn-primary px-3 ms-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus">+</i>
                                  </button>
                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <p class="text-start text-md-center">
                                  <strong>Precio</strong><span id="price2">20</span>
                                  <p>Total:</p><span id="totalItem2"></span>
                                </p>
                                <!-- Price -->
                              </div>
                            </div>
                            <!-- Single item -->
                          </div>
                        </div>
                        <div class="card mb-4">
                          <div class="card-body">
                            <p><strong>Fecha aproximada de entrega</strong></p>
                            <p class="mb-0">12.10.2020 - 14.10.2020</p>
                          </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                          <div class="card-body">
                            <p><strong>Metodos de pago</strong></p>
                            <img class="me-2" width="45px"
                              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                              alt="Visa" />
                            <img class="me-2" width="45px"
                              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                              alt="American Express" />
                            <img class="me-2" width="45px"
                              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                              alt="Mastercard" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card mb-4">
                          <div class="card-header py-3">
                            <h5 class="mb-0">A pagar</h5>
                          </div>
                          <div class="card-body">
                            <ul class="list-group list-group-flush">
                              <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Precio total
                                <!--<input type="hidden" id="input-hidden">-->
                                <!--<input id="input-hidden"/>-->
                                <div id="total">0</div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Envío
                                <span>Gratis</span>
                              </li>
                              <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                  <strong>Total</strong>
                                  <strong>
                                    <p class="mb-0">(IVA incluido)</p>
                                  </strong>
                                </div>
                                <span><strong id="totalConIva">$53.98</strong></span>
                              </li>
                            </ul>

                            <button type="button" class="btn btn-primary btn-lg btn-block">
                              Pagar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              <!--________________________Fin carrito_____________________________________-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Pagar</button>
              </div>
            </div>
          </div>
        </div>
        <!--________________________Fin ventana secundaria para carrito (javascript)_____________________________________-->
      </div>
    </nav>
    </div>
  </div>

</body>

  <div id="content">
    {% block content %}

    {% endblock %}
  </div>
  <script src="static/carrito.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>


</html>