{% extends "base.html" %}
{% block title %}Gaming{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
  <div class="container">
   
    <div class="row justify-content-around">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Frist pc 1</h5>
              <p class="card-text">Procesador, Ram, Disco duro.</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc 2</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc 3</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc 4</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc 5</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 text-black bg-light mb-3">
            <img src="../static/img/webpc.png" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">pc 6</h5>
              <p class="card-text">Descripción básica</p>
              <a target="_blank" class="btn btn-primary" href="...">Ver pc</a>
            </div>
          </div>
        </div>
                                       

      </div>
    </div>

  </div>
{% endblock %}